.app-header-container {
  width: 100%;
  height: 80px;
  // display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  .header-menu {
    .menu-ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;
    }
    .menu-li {
      padding: $standard-padding * 2;
      .menu-link {
        color: #ffffff;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

.scrolled {
  background-color:$dark-background-800;
  position: fixed;
}

