$dark-background-900: #000;
$dark-background-800: #292c2f;
$dark-background-700: #2a2a31;


$light-background-700: #f8f8f8;
$light-background: #ffffff;

$primary-background:#742eff;


$standard-padding: 8px;
$standard-margin: 8px;